HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# static CSS/JS from CDN
/src/main/resources/static/css/LineIcons.css
/src/main/resources/static/css/bootstrap-4.6.0-dist/
/src/main/resources/static/js/jquery-3.5.1.slim.min.js
/src/main/resources/static/js/popper.min.*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
